body{
  font-family: 'Montserrat';
}

a {
    text-decoration: underline;
    color: #ffffff;
    transition: all 0.2s;
 }

h1{
    text-align: left;
    transition: all 0.2s;
}

 .discord {
    text-decoration: none;
  }

.title {
    transition: all 0.2s ease;
}

a:hover, .title:hover, h1:hover {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: all 0.2s ease;
}

h2,h3,h5,h6,p,form,option,.content{
    text-align: left;
}

h3{
    border: 2px solid #ffffff;
    border-radius: 10px;
}

.content{
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 0 2px hsla(0, 0%, 0%, 0.1);
  margin: 5% 10%;
  transition: all 0.2s cubic-bezier(0.7, 0.2, 0.17, 1);
}

.content:hover{
  transform: scale(1.05);
  box-shadow: 0 46px 12px -16px hsla(0, 0%, 0%, 0.05);
}

img{
  width:70%;
}

code {
    color: #fff;
    padding: 2px 2px;
    border-radius: 2px;
}

.pp {
    height: 54px !important;
    width: 55px !important;
    margin-bottom: 1px !important;
    box-shadow: none !important;
    border: none !important;
    vertical-align: middle !important;
}

button {
    border-radius: 12px;
    padding: 5px 16px;
    margin: 2px;
    background-color: transparent;
}

.button * {
    transition: background-color 2s ease-out;
    color:#000000;
}

.button *:hover{
    color:#ffffff;
}

/*.button :nth-child(1):hover {
    background: linear-gradient(90deg,#ff7f18,#ff0409);
}

.button :nth-child(2):hover {
    background: linear-gradient(90deg,#ff8800,#ffc918);
}

.button :nth-child(3):hover {
    background: linear-gradient(90deg,#AE09FF,#FF18F7);
}
*/